amqp==5.1.1
APScheduler==3.10.4
asgiref==3.7.2
billiard==4.1.0
build==1.0.3
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==41.0.3
defusedxml==0.7.1
Deprecated==1.2.14
Django==4.2.7
django-allauth==0.57.0
django-cors-headers==4.3.0
django-debug-toolbar==4.2.0
django-filter==23.2
django-form-utils==1.0.3
django-mathfilters==1.0.0
django-oauth-toolkit==2.3.0
django-redis==5.3.0
django-rest-framework-nested==0.0.1
django-templated-mail==1.1.1
django-widget-tweaks==1.4.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djoser==2.2.0
docopt==0.6.2
ez-setup==0.9
greenlet==3.0.0
idna==3.4
jwcrypto==1.5.0
kombu==5.3.2
Markdown==3.4.4
oauthlib==3.2.2
packaging==23.2
Pillow==10.0.0
pip-tools==7.3.0
pipreqs==0.4.13
postgres==4.0
prompt-toolkit==3.0.39
psycopg==3.1.12
psycopg2==2.9.9
psycopg2-binary==2.9.7
psycopg2-pool==1.1
pycparser==2.21
PyJWT==2.8.0
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2020.1
redis==4.6.0
redis-streams==0.2.0
requests==2.31.0
requests-oauthlib==1.3.1
setuptools==57.5.0
six==1.16.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
sqlparse==0.3.1
tabulate==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.8
wheel==0.41.2
wrapt==1.15.0
yarg==0.1.9